Python basics

In [ ]:
# To print the statement use "print"
print("Starting from Basics")

Starting from Basics

Variables

In [ ]:
value=10
print(value)

10

In [ ]:
value1=value2=value3=10
print(value1)
print(value2)
print(value3)

10
10
10

In [ ]:
value1,value2,value3="value","must","string"
print(value1)
print(value2)
print(value3)

value
must
string

Input Function

In [ ]:
a=input("Enter a value: ") #This takes the input as int
b=input("Enter b value: ")
print("Concatination" ,a+b)

Enter a value: 90
Enter b value: 90
Concatination 9090

In [ ]:
a=int(input("Enter a value: ")) # This takes the input as int
b=int(input("Enter b value: "))
print("Sum:" ,a+b)

Enter a value: 90
Enter b value: 90
Sum 180

Data types

In [ ]:
# int
a=10
print(type(a))
# Conversion of one datatype to another (int-float)
print(float(a))

<class 'int'>
10.0

In [ ]:
# float
b=3.4
print(type(b))
# Conversion of one datatype to another (float-int)
print(int(b))

<class 'float'>
3

In [ ]:
# Boolean
bool1=True
print(type(bool1))

bool2=6<4
print(bool2)

<class 'bool'>
False

In [ ]:
# complex
c=3+4j
print(type(c))
print(c)

<class 'complex'>
(3+4j)

In [ ]:
# string
a="datatype"
print(a)
type(a)

datatype

str

Slicing in string

In [ ]:
a="machine"
print(a[0:6])  # values from 0 to index-1  , for this 0 to 6-1(5)

machin

Objects :
  An object can be any data value that can be assigned to a variable
Types of objects :

*   Mutable object
*   Immutable object

**Immutable objects**

1.   int
2.   float
1.   string
2.   bool
1.   tuple
**Mutable objects:**  (changeable)

1.   List
2.   Set
1.   Dictionary

Special Data Types
*  List

In [ ]:
# Enclosed in square brackets
a=[1,2,3,4,5]
print(a)
type(a)

[1, 2, 3, 4, 5]

list

In [ ]:
# Lists can have multiple data types & allows duplicate elements
b=[1,"name",3.4,1,True,1,2,2,3]
print(b)
# For lennth of list
print(len(b))

[1, 'name', 3.4, 1, True, 1, 2, 2, 3]
9

In [ ]:
# Lists mutable in nature
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [ ]:
#List can also supports indexing like arrays
print(a[0]) #1
print(a[5]) #10
# deletng an element at specific index
del a[2]
print(a) #[1,2,4,5,10]

1
10
[1, 2, 4, 5, 10]

In [ ]:
# Joning two lists
c=a+b
print(c)

[1, 2, 4, 5, 10, 1, 'name', 3.4, 1, True, 1, 2, 2, 3]


*   Tuple   (Immutable)

In [ ]:
# Enclosed by paranthesis
t=(1,2,3,4,5)
print(t)
type(t)

(1, 2, 3, 4, 5)

tuple

In [ ]:
# allows mutiple data types & allows duplicate elements
t1=(1,2,"name",True,1,2)
print(t1)
# For length of tuple
print(len(t1))

(1, 2, 'name', True, 1, 2)
6

In [ ]:
# Indexing
print(t1[2])
print(t1[3])

name
True

In [ ]:
# Conversion of Tuple to List
print(list(t1))
# converson of list to tuple
print(tuple(t1))

[1, 2, 'name', True, 1, 2]
(1, 2, 'name', True, 1, 2)





*   Set

In [ ]:
# Enclosed by curly brackets
s={1,2,3,4,5}
print(s)
type(s)

{1, 2, 3, 4, 5}

set

In [ ]:
# Set doesn't support indexing  as sets do not have a defned order
print(s[0])

TypeError: 'set' object is not subscriptable

In [ ]:
# Conversion of set to list
print(list(s))
print(set(s))

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

In [ ]:
# Set doesn't support duplicte elements
s1={1,2,1,2,1,2,3,4,3,4,5,5,6,8}
print(s1)

{1, 2, 3, 4, 5, 6, 8}



*  Dictionary (key value pair mapping)

In [ ]:
# Enclosed in curly brackets
d={'position':'Student','name':'xyz'}
print(d)
type(d)

{'position': 'Student', 'name': 'xyz'}

dict

In [ ]:
# Accessing the value by using its key...
print(d['position'])

Student

In [ ]:
# Doesn't allow duplictes in keys
d1={'position':'Student','position':'Employee','name':'xyz','name':'xyz','name':'abc'}
print(d1)

{'position': 'Employee', 'name': 'abc'}