if else statement:
          
          
   A conditional statement that executes if block when it is true else executes else condition.

In [ ]:
# Greatest of two numbers
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
if a>b:
    print(f"{a} is greater than {b}")
else:
    print(f"{b} is greater than {a}")

Enter first number: 10
Enter second number: 2
10 is greater than 2

if elif else statement

In [ ]:
# Greatest of three number jis
a=int(input("Enter first number: "))
b=int(input("Enter Second number: "))
c=int(input("Enter Third number: "))
if(a>b and a>c):
  print(f"{a} is greatest")
elif(b>a and b>c):
  print(f"{b} is greatest")
else:
  print(f"{c} is greatest")

Enter first number: 5
Enter Second number: 7
Enter Third number: 9
9 is greatest

nested if statement
       
       A if block containing another if block of code

In [ ]:
# Greatest of three numbers
a=int(input("Enter first number: "))
b=int(input("Enter Second number: "))
c=int(input("Enter Third number: "))
if(a>b):
  if(a>c):
    print(f"{a} is greatest")
  else:
    print(f"{c} is greatest")
else:
  if(b>c):
    print(f"{b} is greatest")
  else:
    print(f"{c} is greatest")

Enter first number: 34
Enter Second number: 45
Enter Third number: 98
98 is greatest

Loops




1.   for loop

2.   while loop



*   for loop

     Is used to iterate over sequential elements such as arrys,lists etc

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:   # range from 0 to n-1
  print("The value :  ",i)

The value :   1
The value :   2
The value :   3
The value :   4
The value :   5
The value :   6
The value :   7
The value :   8
The value :   9



*   while loop
     repeatedly executing a block of code until the condition fails.

In [ ]:
# natural numbers upto n
n=int(input("Enter n value :"))
i=0
while(i<n):
  print(i)
  i=i+1

Enter n value :4
0
1
2
3

In [ ]:
# Sum of n natural numbers:
n=int(input("Enter n value :"))
sum=0
while(n>0):
  sum=sum+n
  n=n-1
print(sum)

Enter n value :6
21

Functions :

   Functions are block of code that can be reused in the program

In [ ]:
# factorial of a number
def fact(n):
  f=1
  for i in range(1,n+1):
    f=f*i
  return f
n=int(input("Enter a value :"))
print(fact(n))

Enter a value :4
24

In [ ]:
fact(5)

120

In [ ]:
fact(7)

5040

In [ ]:
fact(6)

720